<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/style.css') }}" 
        />
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/tasks.css') }}" 
        />
        <link 
            rel="shortcut icon" 
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>
    <body id="body">
        <header>

            <nav class="navigation-bar left-nav">
                <ul>
                    <li>
                        <a href="/tasks">Tasks</a>
                    </li>
                    <li>
                        <span class="active">Deleted</span>
                    </li>
                </ul>
            </nav>

            <nav class="navigation-bar right-nav">
                <ul>
                    <li>
                        <span class="name">Hi, {{ user.username }}!</span>
                    </li>
                    <li>
                        <a href="/edit_profile/{{ user.id }}">Profile</a>
                    </li>
                    <li>    
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>

        </header>

        <div class="page-content">
            <div class="split one">
                <h1>Deleted</h1>
                <ul class="list">
                    {% for deleted in all_deleted %}
                            <li onclick="window.location.href='/edit_task/{{ deleted.id }}'">
                                {{ deleted.title }}
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='main.js') }}"
        ></script>

    </body>
</html>
