<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/style.css') }}" 
        />
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/login.css') }}" 
        />
        <link 
            rel="shortcut icon" 
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>
    <body id="body">
        <header>

            <nav class="navigation-bar left-nav">
                <ul>
                    <li>
                        <a href="/tasks">Tasks</a>
                    </li>
                    <li>
                        <a href="/deleted">Deleted</a>
                    </li>
                </ul>
            </nav>

            <nav class="navigation-bar right-nav">
                <ul>
                    <li>
                        <span class="name">Hi, {{ user.username }}!</span>
                    </li>
                    <li>
                        <a href="/edit_profile/{{ user.id }}">Profile</a>
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>

        </header>

        <div class="page-content">
            <div class="form">
                <form action="/edit_deleted_task/{{ task_id }}" method="post">
                    <h1>Edit This Task</h1>
                    <p>{{ info.title }}</p>
                    <p>{{ info.deadline }}</p>
                    <p>{{ info.description }}</p>
                    <div class="state-button" id="cancel">
                        <a href="/to_do/{{ task_id }}">Recover Task</a>
                    </div>
                </form>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='main.js') }}"
        ></script>

    </body>
</html>
