<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/form.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/tasks.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>
    <body id="body">
        <header>
            <nav class="navigation-bar left-nav">
                <ul>
                    <li>
                        <a href="/tasks">Tasks</a>
                    </li>
                    <li>
                        <a href="/deleted">Deleted</a>
                    </li>
                </ul>
            </nav>

            <nav class="navigation-bar right-nav">
                <div class="dropdown">
                    <span class="name" onclick="dropdown()">
                        Hi, {{ user.username }}!
                    </span>
                    <div id="dropdown" class="dropdown-content">
                        <a href="/edit_profile/{{ user.id }}">
                            Profile
                        </a>
                        <a href="/logout">Logout</a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <form action="/edit_task/{{ task.id }}" method="post">
                    {{ form.csrf_token }}
                    <ul class="form-content">
                        <li><h1>Edit task</h1></li>
                        <li class="change-state">
                            <span>Select state of task: </span>
                            <select name="state">
                                {% for id, state in form.state.choices %}
                                    <option value="{{ id }}" {% if form.state == id %} selected {% endif %}>{{ state }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li>{{ form.title(class_="input-field no-error") }}</li>
                        <li>
                            {{ form.description(class_="description no-error")
                            }}
                        </li>
                        <li>
                            {{ form.deadline(class_="input-field no-error") }}
                        </li>
                        <li>
                            <button type="submit" id="button">
                                Save Changes
                            </button>
                        </li>
                        <li>
                            <button type="delete" id="button">Delete</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='main.js') }}"
        ></script>
    </body>
</html>
