<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </head>

    <body>
        <header>
            <div id="sideNav" class="sidenav">
                <a href="#">About</a>
                <a href="#">Account</a>
                <a href="#">Settings</a>
                <a href="lists.html">Lists</a>
                <a href="#">Deleted</a>
            </div>

            <a class="btn" onclick="nav()">
                <img src="{{ url_for('static', filename='assets/images/menu.svg') }}" />
            </a>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a class="btn" onclick="openRegistration()">
                            <img src="{{ url_for('static', filename='assets/images/user.svg') }}" />
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="page-content">
            <div class="backdrop" id="backdrop">
                <div class="form" id="registration-modal">
                    <a
                        class="btn"
                        onclick="closeRegistration()"
                        style="float: right;"
                    >
                        <img src="{{ url_for('static', filename='assets/images/x.svg') }}" />
                    </a>
                    <h1 class="form-heading">Create your Account</h1>
                    <form>
                        <input type="email" placeholder="Email" />
                        <input type="text" placeholder="Username" />
                        <input
                            type="password"
                            placeholder="Password"
                            id="password"
                        />
                        <input
                            type="password"
                            placeholder="Confirm password"
                            id="confirm-password"
                        />
                        <p class="error-message" id="error-message">
                            Passwords do not match!
                        </p>
                        <button>Create Account</button>
                        <p class="message">
                            Already have an account?
                            <a onclick="openLogin()">Login</a>
                        </p>
                    </form>
                </div>
                <div class="form" id="login-modal">
                    <p>
                        <a
                            class="btn"
                            onclick="closeLogin()"
                            style="float: right"
                        >
                            <img src="{{ url_for('static', filename='assets/images/x.svg') }}" />
                        </a>
                    </p>
                    <h1 class="form-heading">Please sign in.</h1>
                    <form>
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <button>Sign in</button>
                        <p class="message">
                            Don't have an account?
                            <a onclick="openRegistration()">Register</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
