<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>

    <body>
        <header>
            <a href="/" class="home-button">
                <img
                    src="{{ url_for('static', filename='assets/images/apple.svg') }}"
                />
            </a>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a style="color:#a5a5a5; cursor: default">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            Create Your Account
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <form action="/login" method="post">
                    <h1>Please sign in.</h1>
                    <input name="email" type="email" placeholder="Email" id="email" />
                    <input name="password" type="password" placeholder="Password" id="pswd" />
                    <button onclick="validate()">Sign in</button>
                    <a href="/register">
                        Don't have an account? Create one now.
                    </a>
                </form>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='animations.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='security.js') }}"
        ></script>
    </body>
</html>
