<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/style.css') }}" 
        />
        <link 
            rel="stylesheet" 
            href="{{ url_for('static', filename='css/login.css') }}" 
        />
        <link 
            rel="shortcut icon" 
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>
    <body id="body">

        <header>
            <nav class="navigation-bar-left">
                <a href="/tasks">Tasks</a>
                <a href="#">Deleted</a>
            </nav>

            <nav class="navigation-bar">
                <p>Hi, {{ user.username }}!</p>
                <a href="/logout"> Logout </a>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <form action="/new_task" method="post">
                    {{ form.csrf_token }}
                    <h1>Create a New Task</h1>
                    {{ form.title }}
                    {{ form.date }}
                    {{ form.description }}
                    <button type="submit" id="button">Continue</button>
                </form>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='animations.js') }}"
        ></script>

    </body>
</html>
