<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>

    <body>
        <header>
            <a href="/">
                <img
                    src="{{ url_for('static', filename='assets/images/apple.svg') }}"
                />
            </a>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a href="/login">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a style="color: #a5a5a5; cursor: default">
                            Create Your Account
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <h1>Create Your Account</h1>
                <input type="text" placeholder="Username" id="usrnm" />
                <input type="email" placeholder="Email" id="email" />
                <input type="password" placeholder="Password" id="pswd" />
                <input
                    type="password"
                    placeholder="Confirm password"
                    id="confirm-pswd"
                />
                <div class="error-message" id="error-message">
                    The passwords you entered do not match.
                </div>
                <button>Continue</button>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='animation.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='security.js') }}"
        ></script>
    </body>
</html>
