<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="google-signin-scope" content="profile email" />
        <meta
            name="google-signin-client_id"
            content="AppleList.apps.googleusercontent.com"
        />
        <script
            src="https://apis.google.com/js/platform.js"
            async
            defer
        ></script>

        <title>Apple</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>

    <body>
        <header>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a href="/">
                            <img
                                src="{{ url_for('static', filename='assets/images/apple.svg') }}"
                            />
                        </a>
                    </li>
                    <li>
                        <a href="/login">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a href="/register">
                            Create Your Account
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <h1>Create Your Account</h1>
                <input type="text" placeholder="Username" id="usrnm" />
                <input type="email" placeholder="Email" id="email" />
                <input type="password" placeholder="Password" id="pswd" />
                <input
                    type="password"
                    placeholder="Confirm password"
                    id="confirm-pswd"
                />
                <p class="error-message" id="error-message">
                    The passwords you entered do not match.
                </p>
                <button>Continue</button>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='animation.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='security.js') }}"
        ></script>
    </body>
</html>
