<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Apple</title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/login.css') }}"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/images/favicon.ico') }}"
        />
    </head>

    <body>
        <header>
            <a href="/">
                <img
                    src="{{ url_for('static', filename='assets/images/apple.svg') }}"
                />
            </a>
            <nav class="navigation-bar">
                <ul>
                    <li>
                        <a href="/login">
                            Sign in
                        </a>
                    </li>
                    <li>
                        <a class="active">
                            Create Your Account
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="page-content">
            <div class="form">
                <form action="/register" method="post">
                    <h1>Create Your Account</h1>
                    <input
                        name="username"
                        type="text"
                        placeholder="Username"
                        id="usrnm"
                        required
                    />
                    <input
                        name="email"
                        type="email"
                        placeholder="Email"
                        id="email"
                        required
                    />
                    <input
                        name="password"
                        type="password"
                        placeholder="Password"
                        id="pswd"
                        required
                        minlength="8"
                    />
                    <div class="error-message" id="short-password">
                        Password is less than 8 symbols
                    </div>
                    <input
                        type="password"
                        placeholder="Confirm password"
                        id="confirm-pswd"
                        required
                    />
                    <div class="error-message" id="error-message">
                        The passwords you entered do not match.
                    </div>
                    <button id="button">Continue</button>
                </form>
            </div>
        </div>

        <script
            type="text/javascript"
            src="{{ url_for('static', filename='animations.js') }}"
        ></script>
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='security.js') }}"
        ></script>
    </body>
</html>
