@font-face {
    font-family: "San Francisco";
    src: url("SF-Pro-Display-Light.otf") format("woff");
}

body {
    background: #fafafa;
    font-family: "San francisco";
    margin: 0 auto;
}

/* Header styling */

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background: #222;
    padding: 0 20px;
    width: 100%;
    align-self: center;
}

header img {
    align-self: center;
    filter: invert(100%);
}

.navigation-bar {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-self: center;
    margin: 1%;
}

.navigation-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navigation-bar li {
    padding: 0 20px;
}

button {
    background: #f85c50;
    color: #fff;
    width: 100%;
    outline: 0;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

button:hover,
button:focus {
    transition: 0.3s;
    background: #fbceb5;
}

/* Navigation bar styling */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding: 60px 0 0;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
