@font-face {
    font-family: "San Francisco";
    src: url("SF-Pro-Display-Light.otf") format("woff");
}

body {
    background: #fafafa;
    font-family: "San francisco";
    margin: 0 auto;
}

/* Header styling */

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    background: #222;
    padding: 0 20px;
    width: 100%;
    align-self: center;
    height: 5.5%;
}

.btn {
    filter: invert(100%); /* change from black to white */
}

header a:hover {
    cursor: pointer;
}

header a {
    align-self: center;
}

.navigation-bar {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    align-self: center;
    margin: 1%;
}

.navigation-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navigation-bar li {
    padding: 0 30px 0 0;
}

/* Navigation bar styling */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 5.5%;
    left: 0;
    background-color: #282828;
    overflow-x: hidden;
    transition: 0.2s;
    padding: 60px 0 0;
    transform: translateX(-250px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fafafa;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    filter: invert(100%);
}

/* modal */

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Login form */

.form {
    background: #212121;
    margin: 0 auto;
    max-width: 360px;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .form-heading {
    color: #fff;
    margin-top: -10px;
}

.form input {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #fff;
    background: #333;
    outline: 0;
    border: 0;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
}

.form input:focus {
    outline: 1px solid #fbceb5;
}

.form button {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    background: #f85c50;
    color: #fff;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 15px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.form button:hover,
.form button:focus {
    transition: 0.3s;
    background: #fbceb5;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #f85c50;
    text-decoration: none;
    transition: 0.2s;
}

.form .message a:hover,
.form .message a:focus {
    outline: none;
    color: #fbceb5;
    transition: 0.2s;
}
