page-content {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 5.5%;
    left: 0;
    height: 94.5vh;
    width: 100vw;
    color: #111;
}

.navigation-bar li a {
    align-self: center;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.form {
    position: fixed;
    margin: auto;
    max-width: 360px;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
}

.form .form-heading {
    font-size: 20px;
    padding-bottom: 10px;
}

.form input {
    font-size: 14px;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.form input:focus {
    background: #fff;
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}

.form button {
    text-transform: uppercase;
    background: #008080;
    color: #fff;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 3px;
    padding: 15px;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
}

.form button:hover,
.form button:focus {
    transition: 0.3s;
    background: #66b2b2;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    color: #008080;
    text-decoration: none;
    transition: 0.2s;
}

.message a:hover,
.message a:focus {
    outline: none;
    color: #66b2b2;
    transition: 0.2s;
}

.form input.invalid {
    border-color: tomato;
}

.error-message {
    color: tomato;
    display: none;
}
