.form {
    margin: 0 auto;
    max-width: 360px;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
}

.form ul {
    list-style: none;
}

/* title styling */

h1 {
    margin: 1em 0;
}

/* input fields styling */
 
.input-field {
    font-size: 14px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.input-field:focus {
    background: #fff;
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}

.no-error {
    margin: 0 0 20px;
}

/* input links styling */

.form a {
    color: #0070c9;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

/* error message styling */

.error-message {
    color: #de071c;
    margin-top: -10px;
    font-weight: bold;
}

/* current info of a task */

.current-info {
    margin-bottom: 20px;
    font-weight: bold;
}

.current-info .title {
    font-size: 2em;
}

.current-info .description {
    font-size: 1em;
}

.current-info .deadline {
    font-size: 1em;
    color: #faa95e;
}

/* dropdown menu for the task state */