.form {
    margin: 0 auto;
    max-width: 360px;
    border-radius: 5px;
    padding: 45px;
    text-align: center;
}

.form .form-heading {
    font-size: 20px;
    padding-bottom: 10px;
}

.form input {
    font-size: 14px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
}

.form input:focus {
    background: #fff;
    border-color: #0070c9;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}

.form button {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    min-width: 30px;
    padding: 4px 15px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 20px;
}

.form button:hover,
.form button:focus {
    background: linear-gradient(rgb(66, 169, 252), rgb(0, 120, 217));
}

.form a {
    color: #0070c9;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form ul {
    list-style: none;
}

.error-message {
    color: #de071c;
    margin-top: -5px;
    font-weight: bold;
}
